
<div class="row">

  <div class="col-md-8 main-panel">
    <div class="form-group">
      <label>Upload File</label>
      <input #file type="file" (change)="onSelect($event)" class="form-control w-75" placeholder="Upload File">
    </div>
    
    <div class="preview d-flex">
      <div>
        <div *ngIf="isLoading" class="image-spinner" style="width:200px; height:200px;"></div>
        <img [ngClass]="{'hide-preview': !imageUrl, 'show-preview': imageUrl}" 
              class="d-flex flex-column"
              src={{imageUrl}}>
        <span>{{file? file.name: ''}}</span>
      </div>
      <div>
        <button *ngIf="file" (click)="remove()" class="btn btn-primary">Remove</button>
      </div>
    </div>
  </div>

  <div class="col-md-4 info-panel bg-light p-0">
    <p class="m-2">Key Points</p>
    <ul>
      <li class="text-primary">This is a sample point.
    </ul>
  </div>

</div>